select:focus, button:focus {
    outline: 0;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background: black;
    border-radius: 6px;
}

.header div {
    display: inline-block;
    position: absolute;
}

#logo {
    background-image: url(images/laptop-icon.png);
    background-repeat: no-repeat;
    background-position: 0 2px;
    color: white;
    font-size: 54px;
    padding-left: 72px;
    left: 2%;
}

#menu {
    left: 20%;
    top: 25%;
}

#menu select {
    font-family: "Courier New", Courier, monospace;
    font-size: 22px;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 8px;
    background-image: -webkit-linear-gradient(top, gray 0%, silver 100%);;
    -moz-box-shadow:inset 0 1px 0 0 #cccccc;
	-webkit-box-shadow:inset 0 1px 0 0 #cccccc;
	box-shadow:inset 0 1px 0 0 #cccccc;
	text-shadow:1px 1px 0px #999999;
}

#message {
    left: 40%;
    top: 25%;
    width: 30%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

#buttons {
    right: 2%;
    top: 25%;
}

#stacktrace {
    position: absolute;
    left: 40%;
    top: 60px;
    background-color: #eeeeee;
    border: 1px inset black;
    padding: .5em;
    white-space: pre;
    z-index: 300;
    display: none;
}

#container {
    position: absolute;
    left: 0;
    top: 72px;
    width: 100%;
    height: 600px;
    text-align: center;
}

#shade {
    position: absolute;
    left: 0;
    top: 72px;
    width: 100%;
    height: 600px;
    display: none;
    z-index: 100;
    background-color: silver;
    opacity: .25;
}

#source {
    position: absolute;
    left: 0;
    top: 72px;
    width: 100%;
    height: 600px;
    text-align: center;
    display: none;
    z-index: 200;
}

.component {
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
    margin-right: 12px;
}

.component h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.canvas h1 {
    color: green;
}

.console h1 {
    color: blue;
}

#graphics {
    border: 1px solid black;
    background-color: white;
    margin: 2px;
    padding: 2px;
}

#text {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    margin: 2px;
    padding: 2px;
}

.bmscs-btn {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px black solid;
    border-radius: 8px;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    height: 30px;
    -moz-box-shadow:inset 0 1px 0 0 #cccccc;
	-webkit-box-shadow:inset 0 1px 0 0 #cccccc;
	box-shadow:inset 0 1px 0 0 #cccccc;
	text-shadow:1px 1px 0px #999999;
}

.btn-grn {
    background-image: -webkit-linear-gradient(top, green 0%, lime 100%);
    background-image: -moz-linear-gradient(top, green 0%, lime 100%);
    background-image: -o-linear-gradient(top, green 0%, lime 100%);
    background-image: linear-gradient(top, green 0%, lime 100%);
}

.btn-grn:hover {
    background-image: -webkit-linear-gradient(top, lime 0%, green 100%);
    background-image: -moz-linear-gradient(top, lime 0%, green 100%);
    background-image: -o-linear-gradient(top, lime 0%, green 100%);
    background-image: linear-gradient(top, lime 0%, green 100%);
}

.btn-red {
    background-image: -webkit-linear-gradient(top, crimson 0%, red 100%);
    background-image: -moz-linear-gradient(top, crimson 0%, red 100%);
    background-image: -o-linear-gradient(top, crimson 0%, red 100%);
    background-image: linear-gradient(top, crimson 0%, red 100%);
}

.btn-red:hover {
    background-image: -webkit-linear-gradient(top, red 0%, crimson 100%);
    background-image: -moz-linear-gradient(top, red 0%, crimson 100%);
    background-image: -o-linear-gradient(top, red 0%, crimson 100%);
    background-image: linear-gradient(top, red 0%, crimson 100%);
}

.bmscs-btn:active {
    position: relative;
    top: 1px;
}